.div_accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

.arbo:hover:not(span[type-name="slash"]){
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    cursor: pointer;
}

#Python {
    background-image: url("images/python.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#Java {
    background-image: url("images/java.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#C {
    background-image: url("images/c.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#C\+\+ {
    background-image: url("images/c++.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#R {
    background-image: url("images/r.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#JavaScript {
    background-image: url("images/js.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#CSS {
    background-image: url("images/css.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#HTML {
    background-image: url("images/html.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#PHP {
    background-image: url("images/php.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#Matlab {
    background-image: url("images/matlab.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box {
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid black;
}

.box span {
    max-width: 100%;
    max-height: 100%;
}
  
.box span {
    font-weight: bold;
    text-align: center;
}
  
.box:hover:not(.sombre) {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.language span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

#arbo_lang, #arbo_concept {
    display: flex;
    align-items: center;
    height: 50px;
}

.arbo {
    width: auto;
    border: 2px solid rgb(244,237,222);
    color: rgb(244,237,222);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    margin: 5px;
    /* border-radius: 5px; */
    transition: 0.3s;
}